## Observations and Insights

## Dependencies and starter code

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "../data/Mouse_metadata.csv"
study_results = "../data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
merged_df= pd.merge(mouse_metadata, study_results, on="Mouse ID")
merged_df = merged_df.dropna()
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary statistics

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
grouped_df_sem = merged_df.groupby(["Drug Regimen"]).sem()
grouped_df_var = merged_df.groupby(["Drug Regimen"]).var()
grouped_df_mean = merged_df.groupby(["Drug Regimen"]).mean()
grouped_df_std = merged_df.groupby(["Drug Regimen"]).std()

grouped_df_ss = grouped_df_ss.loc[:,['Tumor Volume (mm3)']]
grouped_df_sem = grouped_df_sem.loc[:,['Tumor Volume (mm3)']]
grouped_df_var = grouped_df_var.loc[:,['Tumor Volume (mm3)']]
grouped_df_mean = grouped_df_mean.loc[:,['Tumor Volume (mm3)']]
grouped_df_std = grouped_df_std.loc[:,['Tumor Volume (mm3)']]

merged_varandsam= pd.merge(grouped_df_sem, grouped_df_var, on="Drug Regimen")
merged_varandsam = merged_varandsam.rename(columns={ "Tumor Volume (mm3)_x": "SEM", "Tumor Volume (mm3)_y" : "Variance"})
merged_meanandstd= pd.merge(grouped_df_mean, grouped_df_std, on="Drug Regimen")
merged_meanandstd = merged_meanandstd.rename(columns={ "Tumor Volume (mm3)_x": "Mean", "Tumor Volume (mm3)_y" : "Standard Deviation"})

merged_ss= pd.merge(merged_varandsam, merged_meanandstd, on="Drug Regimen")

merged_ss.style.format({"SEM": "{:20,.2f}", "Variance": "{:20,.0f}","Mean": "{:20,.2f}","Standard Deviation": "{:20,.2f}"})

## Bar plots

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen